.sidebar {
  margin-top: 65px;
  background: var(--light-purple-color);
  height: 100vh;
  width: 250px;
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--light-color);
  display: grid;
  text-decoration: none;
  align-items: center;
  grid-gap: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  text-align: left;
  border-radius: 2px;

  &:hover,
  &:focus-visible {
    background: var(--dark-purple-color);
  }
}
